* {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
.policy {
    margin-top: 60px;
    &__title {
        font-size: 34px;
    }
    &__menu {
        margin-top: 30px;
        font-weight: 700;
        li {
            margin-bottom: 10px;
            list-style-type: none;
        }
    }
    &__body {
        &-item {
            margin-top: 30px;
        }
        &-title {
            font-size: 20px;
            font-weight: 700;
        }
        &-text {
            margin-top: 10px;
        }
    }
}
