.about {
    padding-top: 120px;
    &__wrapper {
        display: grid;
        grid-template: minmax(200px, auto) minmax(255px, auto) / 400px 670px;
        grid-auto-rows: minmax(245px, auto);
        column-gap: 70px;
        row-gap: 40px;
    }
    &__photo {
        grid-row: 1/3;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
    }
    &__title {
        position: relative;
        padding-left: 40px;
        @include before_circle;
    }
    &__descr {
        padding-top: 6px;
        .divider {
            margin-top: 4px;
        }
    }
    &__text {
        font-size: 14px;
        line-height: 21px;
        margin-top: 20px;
    }
    &__skills {
        display: grid;
        grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 260px);
        column-gap: 50px;
        row-gap: 20px;
        &-item {
            display: grid;
            grid-template-columns: 40px 200px;
            column-gap: 20px;
        }
        &-circle {
            position: relative;
            @include before_circle_minus;
            &:before {
                top: -3px;
                left: -2px;
            }
            &-minus {
                &:before {
                    left: -8px;
                }
            }
        }
        &-text {
            margin-top: 6px;
            font-size: 12px;
            line-height: 18px;
        }
    }
}
