.contacts {
    padding: 120px 0 90px 0;
    &__wrapper {
        padding: 0 45px;
        display: grid;
        grid-template-columns: 400px 585px;
        justify-content: space-between;
    }
    &__photo {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
    }
    &__title {
        position: relative;
        padding-left: 40px;
        @include before_circle;
    }
    &__descr {
        padding-top: 6px;
        .divider {
            margin-top: 4px;
        }
    }
    &__text {
        margin-top: 20px;
    }
    &__social {
        margin-top: 20px;
    }
    &__link {
        margin-right: 25px;
        img {
            max-width: 30px;
            max-height: 30px;
        }
    }
    &__form {
        margin-top: 30px;
        display: grid;
        grid-template: 45px 115px 45px / repeat(2, 280px);
        gap: 30px;
        label {
            display: block;
            position: absolute;
            height: 18px;
            padding: 0 8px;
            margin-bottom: 0;
            background-color: #fff;
            font-size: 12px;
            top: -8px;
            left: 12px;
        }
    }
    &__triggers {
        display: grid;
        grid-column: 1 / 3;
        grid-template-columns: repeat(2, auto);
        column-gap: 35px;
        align-items: center;
    }
    &__policy {
        font-size: 12px;
        input {
            margin-right: 10px;
        }
    }
    &__input {
        position: relative;
        input {
            width: 100%;
            height: 100%;
            padding: 0 20px;
            font-size: 12px;
        }
    }
    &__textarea {
        position: relative;
        grid-column: 1 / 3;
        textarea {
            width: 100%;
            height: 100%;
            resize: none;
            padding: 20px;
            font-size: 12px;
        }
    }
    &__btn {
        border: none;
        font-weight: bold;
        font-size: 14px;
    }
}
