.percent {
    margin-top: 120px;
    &__items {
        display: grid;
        grid-template: repeat(2, minmax(70px, auto)) / repeat(3, 350px);
        column-gap: 45px;
        row-gap: 35px;
    }
    &__item {
        display: grid;
        grid-template: minmax(21px, auto) 14px / 200px 35px;
        justify-content: space-between;
        align-content: space-between;
    }
    &__name {
        position: relative;
        font-weight: bold;
        font-size: 14px;
        padding-left: 40px;
        @include before_circle;
    }
    &__counter {
        font-size: 14px;
    }
    &__line {
        width: 350px;
        height: 14px;
        border-radius: 5px;
        background: #e8e4de;
        grid-column: 1 / 3;
        span {
            display: block;
            height: 100%;
            background-color: $main-color;
            border-radius: 5px;
        }
    }
}
