.portfolio {
    padding-top: 120px;
    &__title {
        position: relative;
        text-align: center;
        @include before_circle_center;
        &::before {
            left: 44%;
        }
    }
    &__subtitle {
        text-align: center;
    }
    &__wrapper {
        display: grid;
        grid-template: repeat(2, 280px) / repeat(4, 280px);
        grid-auto-rows: 280px;
        gap: 5px;
        margin-top: 60px;
        .vertical {
            grid-row: 1 / 3;
            grid-column: 4 / 5;
        }
        .horizontal {
            grid-row: 2 / 3;
            grid-column: 2 / 4;
        }
    }
    &__item {
        transition: all 0.3s;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        &:hover {
            transform: scale(1.05);
            filter: blur(2px);
        }
    }
}
