.resume {
    padding-top: 120px;
    &__title {
        position: relative;
        padding-left: 30px;
        text-align: center;
        @include before_circle_center;
        &::before {
            left: 39%;
        }
    }
    &__subtitle {
        text-align: center;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 425px);
        column-gap: 135px;
        padding: 60px 65px 0 65px;
    }
    &__column {
        &-title {
            position: relative;
            padding-left: 35px;
            &::before {
                content: "";
                position: absolute;
                width: 15px;
                height: 15px;
                top: 50%;
                transform: translateY(-50%);
                left: -7px;
                border-radius: 100%;
                background-color: $main-color;
            }
        }
        ul {
            list-style-type: none;
            li {
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    top: -16px;
                    left: 0;
                    background-color: #000;
                    width: 1px;
                    height: calc(100% + 16px);
                }
            }
        }
    }
    &__item {
        position: relative;
        &:before {
            content: "";
            position: absolute;
            height: 1px;
            width: 45px;
            top: 50px;
            background-color: #000;
        }
        &-head {
            position: relative;
            padding: 30px 0 0 100px;
            h4 {
                margin-bottom: 0;
            }
        }
        &-body {
            padding-left: 43px;
            margin-top: 12px;
        }
        &-icon {
            position: absolute;
            top: 35px;
            left: 45px;
            @include before_circle_minus;
            img {
                position: absolute;
                left: 5px;
                top: 1px;
            }
        }
        .cources {
            left: 44px;
            top: 35px;
            img {
                position: absolute;
                left: 1px;
                top: 5px;
            }
        }
        &-location {
            font-size: 12px;
            margin-top: 5px;
        }
        &-body {
            font-size: 12px;
            line-height: 18px;
        }
    }
}
